{% extends 'base.html.twig' %}

{% block body %}

    <div id ="visuel">

        <div class="col-12 d-flex justify-content-center">

            <h1><strong>Félicitations commande finalisée</strong></h1>

        </div><br><br>


        <div class="d-flex justify-content-around text-center">

            <p>La commande est en cours...<br><br> Une fois la préparation terminée, le livreur vous contactera. <br><br>Merci et à bientôt.</p>

        </div>

    </div>

{% endblock %}
