{% extends 'base.html.twig' %}

{% block body %}

    <div id="visuel">

        <div class="col-12 d-flex justify-content-center">

            <h1><strong>Contact</strong></h1>

        </div>

        {#######################################################################################
            ~~~~~~~~~~~~~~~~~~~~~~~~~    FORMULAIRE DE CONTACT    ~~~~~~~~~~~~~~~~~~~~~~~~~                                
        ########################################################################################}


        <form action="formulaire.php" method="post">

            <div class="row mt-5"> 

                <div class="form-group col-6"> 

                    <label for="nom">nom</label>
                    <input type="text" class="form-control" id="nom" name="nom">
                    <div id="n" style="display: none;" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Ce champ est obligatoire !</strong>
                    </div><br>

                </div>

                <div class="form-group col-6">

                    <label for="prenom">Prénom</label> 
                    <input type="text" class="form-control" id="prenom" name="prenom">
                    <div id="p" style="display: none;" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Ce champ est obligatoire !</strong>
                    </div><br>

                </div>

            </div>

            <div class="row mt-4">

                <div class="form-group col-6">

                    <label for="email">Email</label> 
                    <input type="email" class="form-control" id="email" name="email">
                    <div id="e" style="display: none;" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Ce champ est obligatoire !</strong>
                    </div><br>

                </div>

                <div class="form-group col-6">

                    <label for="telephone">Téléphone</label> 
                    <input type="tel" class="form-control" id="telephone" name="telephone">
                    <div id="t" style="display: none;" class="alert alert-danger alert-dismissible fade show" role="alert">
                        <strong>Ce champ est obligatoire !</strong>
                    </div><br>

                </div>

            </div>

            <div class="form-group mt-5 mb-3">

                <label for="message">Message :</label> 
                <textarea class="form-control" id="message" name="message"></textarea>
                <div id="m" style="display: none;" class="alert alert-danger alert-dismissible fade show" role="alert">
                    <strong>Ce champ est obligatoire !</strong>
                </div><br>

            </div>

            <button type="submit" id="envoyer" name="envoyer" class="btn btn-light btns btn-md zoom">Envoyer</button> <!--bouton-->

        </form>

        <div class="d-flex justify-content-around">

            <a type="submit" href="{{ path('app_plat') }}" class=" btn btn-light btn-lg zoom col-5 col-md-1 btns">Précédent</a>

        </div>

    </div>

{% endblock %}
