{% extends 'base.html.twig' %}

{% block body %}

    <div class="row col-12 d-flex justify-content-center text-center my-5">

        <h1><strong>Mentions légales</strong></h1><br>

        <p> Le site Internet the@district.fr est la propriété exclusive de Souare ibrahima.</p><br>

        <p>Identifiant siret : 85251849700015</p><br>

        <p>Propriétaire : Souare ibrahima</p><br>    
        
        <p>E-mail : the@district.fr</p><br>

        <p>Téléphone : 04 99 61 19 59</p><br>    

        <p>Conception du site internet : Aude Blandignères – www.ambe-design.com</p><br>    

        <p>Le site est hébergé par la société o2switch, 222 Boulevard Gustave Flaubert, 63000 Clermont-Ferrand, Capital de 100000 euros, Siret : 510 909 80700024.</p>

    </div>

{% endblock %}
